.header_buttons{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 0.75rem 1.5rem;

}

header ul,footer ul{
    list-style-type: none;
    display: flex;
    /* align-items: center; */
}
header,.footer{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
display: flex;
justify-content: space-between;
align-items: center;
}



