
.hero_section,.hero_card_section{
    display: flex;
    gap: 7%;
    width: 80%;
    margin: 126px  auto;

}
.hero_contents,.hero_card_contents{
    display: flex;
    flex-flow: column;
    gap: 24px;
    justify-content: center;
}
.hero_contents h1{
 font-size: 4.5rem;
 line-height: 5rem;
}
.hero_p_h,.hero_card_h_p{
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 24px;
    justify-content: center;
}
.hero_banner_cards{
    display: flex;
    gap: 4px;
    justify-content: stretch;
}
.hero_banner_cards p{
    background-color: #EDD8FF80;
    color: #697484;
    padding: 1.0625rem 0.75rem;
    flex: 1;
    text-align: center;
}
.hero_banner_cards span{
    font-size: 2rem;
    color: #424E60;
    font-weight: 600;
}
.hero_card_heading{
    font-size: 2.375rem;
}
.card_image_section{
    padding-bottom: 36px;
    position: relative;
}
.image_section_bottom_icons{
    padding: 12px;
    background-color: #fff;
    width: fit-content;
    border-radius: 4px;
    position: absolute;
    bottom: 0px;
   left: 80px;

}
.hero_CV_button,.portfolio_card_button{
     background-color: white;
    color:#A53DFF ;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border: 2px solid #A53DFF;
   font-weight: 600;
}
.hero_CV_button img{
    vertical-align: middle;
    margin: 12px;
   
}
.hero_card_buttons{
    padding-top: 1rem;
}
.hero_card_section{
    padding: 112px;
    position: relative;
    top: 96px;
    box-shadow:0px 0px 5px rgb(221, 220, 220);
    border-radius: 8px;
}
.work_process_section{
    display: flex;
    flex-direction: row;
    gap: 7%;
    width: 80%;
    margin: 126px  auto;
    align-items: center;
}
.work_process_cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 24px;
}

.work_process_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow:0px 0px 5px rgb(221, 220, 220);

}

.work_process_card img{
margin-bottom: 20px;
}

