.portfolio_section{
    width: 90%;
    margin: 100px auto 0px;
    gap: 70px;
    display: flex;
    flex-flow: column;
    
    
}
.portfolio_contents{
    text-align: center;
}
.portfolio_cards{
    display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2,1fr);
gap: 24px;
}
.portfolio_card{
    display: flex;
    flex-flow: column;
    box-shadow: 0px 0px 5px rgb(194, 194, 194);

}
.portfolio_card_content{
    padding: 32px;
    display: flex;
    flex-flow: column;
    gap: 18px;
    align-items: flex-start;
}
.portfolio_card_content span{
    font-size: 14px;
    font-weight: normal;
}
.blog_cards{
    display: flex;
    gap: 24px;
    
}
.what_cards{
    display: flex;
    flex-flow: column;
    gap: 40px;
   
}
.what_card{
    display: flex;
    flex-flow: column;
    gap: 16px;
   padding: 32px 27px;
   box-shadow: 0px 0px 5px rgb(205, 205, 205);
}
.happyclients_contents{
    text-align: center;
    display: flex;
    gap: 20px;
    flex-flow: column;
    align-items: center;
}
.happyclients_contents p{
width: 30%;
}
.happy_clients_name{
text-align: center;
}